nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    min-height: 5vh;
    background-color: lightsalmon;
    font-family: "Poppins", sans-serif;
    position: sticky;
    top: 0;
    z-index: 99;
}

.logo {
    width: 95%;
    text-align: center;
    font-family: "Permanent Marker", cursive;
    padding-left: 40px;
}

.logo h3 a {
    font-family: "Special Elite", cursive;
    color: rgb(7, 6, 6);
    text-transform: uppercase;
    letter-spacing: 4px;
    font-size: 33px;
    text-decoration: none;
    vertical-align: middle;
}


/* 
.nav-links {
    display: flex;
    justify-content: space-evenly;
    width: 55%;
    font-family: "Montserrat", sans-serif;
    padding: 0px 10px;
    margin-top: 15px;
} */

.right-nav-links {
    display: flex;
    justify-content: normal;
    width: 15%;
    margin: 0;
}

.account-nav-item {
    margin-right: 30px;
}

.nav-links li,
.right-nav-links li {
    list-style: none;
}


/* .nav-links a,
.right-nav-links a {
    color: rgb(226, 226, 226);
    text-transform: uppercase;
    text-decoration: none;
    letter-spacing: 1px;
    font-size: 15px;
} */

.right-nav-links a {
    font-size: 18px;
}

.right-nav-links span {
    font-size: 0.6em;
    font-weight: bold;
    background: rgb(223, 37, 37);
    height: 15px;
    width: 15px;
    border-radius: 50%;
    display: inline-block;
    text-align: center;
    position: relative;
    top: 5px;
    left: -8px;
}

#mySidenav a {
    position: absolute;
    left: -70px;
    transition: 0.3s;
    padding: 15px;
    width: 100px;
    text-decoration: none;
    font-size: 20px;
    color: white;
    border-radius: 0 5px 5px 0;
}

#mySidenav a:hover {
    left: 0;
}

#about {
    top: 310px;
    background-color: #000000;
}

#home {
    top: 170px;
    background-color: #000000;
}

#login {
    top: 240px;
    background-color: #000000;
}