.row {
    width: 98%;
    margin: 0 auto;
}

.recent_releases {
    margin: 2em 0em 1em 0em;
}

.recent_release_header {
    text-align: center;
    text-transform: capitalize;
    letter-spacing: 1px;
    font-size: 25px;
    font-style: italic;
    font-weight: bold;
}

.grid-latestrelease {
    column-count: 3;
    margin-top: 15px;
    text-align: center;
}

.grid-latestrelease-column {
    column-count: 3;
    margin: 0.5em;
}

.grid-latestrelease-column:hover {
    opacity: 0.3;
}

.shirt_image {
    margin-bottom: 1px;
    text-align: center;
}

.shirt_image img {
    width: 90%;
}

.shirt_specs {
    text-align: center;
    font-size: 15px;
}

.shirt_specs p a {
    text-decoration: none;
}

.shirt_specs_brand {
    text-transform: uppercase;
    font-weight: bolder;
}

.shirt_specs_name {
    margin-top: -15px;
    text-transform: uppercase;
}

.shirt_specs_description {
    margin-top: -8px;
    text-transform: capitalize;
}

.shirt_specs_price {
    margin-top: -3px;
    font-weight: 500;
}

.grid-latestrelease-column a {
    text-decoration: none;
    color: black;
}

#mainbutt {
    margin-left: 40%;
    margin-top: 15px;
}